# Ambiente virtual
venv/

# Dados
data/raw/dataset.csv
data/processed/teste_mediana.csv
data/processed/treino_mediana.csv
data/processed/validacao_mediana.csv

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db
